* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    // text-shadow: 0px 0px 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(0, 0, 0, 0.5) url("../img/background.jpg");
    // background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    overflow: overlay;
    background-blend-mode: darken;
}

a {
    text-decoration: none;
    color: rgb(0, 130, 255);
}

a:visited {
    color: rgb(102, 0, 171);
}

::-webkit-scrollbar {
    width: 10px;    
    position: sticky;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(205, 205, 205);
}

*::selection {
    background-color: rgb(164, 164, 164);
}

.on-load {
    display: none;
    width: 100%;
    height: 100vh;
}

input {
    width: 40vw;
    min-height: 80px;
    text-align: center;
    border-radius: 20px;
    font-size: 2vw;
    background-color: rgb(0, 0, 0, 0);
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    padding-bottom: 0.5%;
}

.part {
    width: calc(40vw - 40px);
    min-height: 80px;
    text-align: center;
    border-radius: 20px;
    font-size: 2vw;
    background-color: rgb(0, 0, 0, 0);
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button {
    width: 30vw;
    min-height: 80px;
    text-align: center;
    border-radius: 20px;
    font-size: 2vw;
    background-color: rgb(0, 0, 0, 0);
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: green;
    border-color: green;
    cursor: pointer;
    margin: 80px;
}

.button:focus {
    border-color: green;
    outline: none;
}

.button:hover {
    border-color: rgb(0, 95, 0);
    color: rgb(0, 95, 0);
}

button:active {
    border-color: rgb(0, 95, 0);
    color: rgb(0, 95, 0);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 25px;
    border-radius: 20px;
    opacity: 1; /* Firefox */
    color: rgb(177, 177, 177);
}

input:focus {
    outline: none;
    border-color: green;
}

h1 {
    font-size: 5vw;
    margin-bottom: 40px;
}

#recommendations {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    margin-bottom: 10px;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.5vw;
    margin: 20px;
}

.tab {
    margin-left: 20px;
}

.green {
    color: green;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.fa-solid.fa-spinner.fa-spin {
    font-size: 100px;
}

.loading {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 10px white;
}

.animate__fadeIn {
    animation-duration: 1.5s !important;
}

.animationBackInUp {
    display: none !important;
}

.animationFadeIn {
    display: none !important;
}

.page {
    height: 100% !important;
    width: 100% !important;
    overflow-y: hidden !important;
}

.flex-container-alldirections {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    // width: 16%;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 130, 255);
    padding: 20px;
    margin: 25px;
    text-align: center;
    font-size: 25px;
}

.smallCards {
    display: flex;
    justify-content: space-around;
}

.smallerCards {
    display: flex;
    flex-wrap: wrap;
}

.smallCards .card {
    display: block;
    margin: 5px;
    width: 28%;
}

.smallCard {
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 130, 255);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 12px;
}

.container {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 85%;
    height: 100%;
    position: absolute;
    right: 0px;
    overflow-y: hidden;
}

.hide {
    display: none !important;
}
